#contenido-principal {
    @include flex(column, center, center);
    width: 100%;

    #cronometro {
        @include flex(column, center, center);
        
        color: #fff;
        width: 100%;
        padding: 20px;
        transition: 0.5s;
    
        #titulo-actividad {
            font-size: 3em;
            @include espaciado(10px, 10px);
        }
        
        #tiempo {
            font-size: 8em;
            @include espaciado(10px, 10px);
        }
        
        #iniciar-parar {
            @include espaciado(10px, 10px);
            color: #fff;
            border-radius: 5px;
            background-color: #32ff7e;
            
            &:hover {
                cursor: pointer;
            }
        }
    }

    #tabla {
        display: none; /* Sacar cuando termine */
        color: #fff;
        text-align: center;
        thead {
            tr {
                #titulo-tabla {
                    padding: 20px;
                    font-size: 3em;
                    border-bottom: 2px solid #000;
                }
                
                td {
                    font-size: 2em;
                    padding: 5px;
                }
            }
        }
        
        tbody {
            tr {
                td {
                    font-size: 1.5em;
                    padding: 5px;
                }
            }
        }
        
        tfoot {
            tr {
                td {
                    font-size: 1.5em;
                    padding: 5px;            
                }
            }
        }
    }
}